---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/artist/?fmt=json&query=artist:xyznonexistentartist12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1200'
      X-Ratelimit-Remaining:
      - '632'
      X-Ratelimit-Reset:
      - '1778583087'
      Last-Modified:
      - Tue, 12 May 2026 10:50:16 GMT
      Etag:
      - '"MjkxNTU0MDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: '{"created":"2026-05-12T10:51:27.418Z","count":0,"offset":0,"artists":[]}'
  recorded_at: Tue, 12 May 2026 10:51:27 GMT
recorded_with: VCR 6.4.0
